/* ==========================================================================
   COLORS
   ========================================================================== */

$c-harbour-blue: #427892;


$c-text: #ffffff;
$c-background: rgb(75,142,146);
