/* ==========================================================================
   COLORS
   ========================================================================== */

$c-white: #ffffff;
$c-harbour-blue: #427892;

$c-text: $c-white;
$c-background: $c-harbour-blue;
