

.album {
    width: 100%;

}

.album-cover {
    display: block;
    max-width: 640px;
    width: 70%;
    margin: 0 auto;
    border: none;

    &:hover, &:focus, &:visited {
        border: none;
    }

    img {
        width: 100%;
    }
}

.album-links {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 2.8em;
    @include font-small;
    line-height: 1.4;
}

.album-link {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-transform: none;
    text-align: center;

    //@include mq($until: phablet) {
    //    &:before {
    //        content: ' ';
    //        display: block;
    //    }
    //}
}
