$module-name: 'footerLinks';

@include settings((

));

.footerLinks {
    padding: 0 32px;
    width: 100%;
    display: block;
    @include font-small;
    line-height: 1.4;
    margin: 23px 0;
    @include mq($from: phablet) {
        margin: 40px 0;
    }
}

.footerLinks-entry {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 16px;
    text-align: center;
}

.footerLinks-link {
    text-transform: none;
    margin-left: 20px;

    @include mq($until: phablet) {
        &:before {
            content: ' ';
            display: block;
        }
        margin-left: 0;
    }
}
