$module-name: 'logo';

@include settings((
));

.logo {
    @include fluid-type(phablet, desktop, 56px, 88px, 1);
    margin-top: 1em;
    width: 100%;
    margin-bottom: 2.375em;
    //@include mq($from: phablet) {
    //    margin-bottom: 0.5em;
    //}
    //@include mq($from: desktop) {
    //    margin-bottom: 0;
    //}
}

.logo img {
    max-width: 945px;
    width: 80%;
    margin: 0 auto;
    display: block;
}
