$module-name: 'logo';

@include settings((
));

.logo {
    @include fluid-type(phablet, desktop, 56px, 88px, 1);
    margin-top: 1em;
    width: 100%;
    margin-bottom: 1em;
    @include mq($from: phablet) {
        margin-bottom: 0.5em;
    }
    @include mq($from: desktop) {
        margin-bottom: 0;
    }
}

.logo img {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: block;

    @include mq($until: phablet) {
        width: calc(100% + 2 * 81px);
        margin: 0 -81px;
    }
}
