$module-name: 'spotifyLink';

@include settings((

));

.spotifyLink {
    padding: 0 32px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.spotifyLink-title {
    @include font-large;
    white-space: nowrap;
    text-align: center;
}

.spotifyLink-subtitle {
    @include font-small;
    white-space: nowrap;
    text-align: center;
}

.spotifyLink-button {
    max-width: 310px;
    border: 1px solid $c-text;
    display: block;
    text-align: center;
    padding: 14px 0 12px;
    margin: 1.4em auto;

    &:hover {
        border: 1px solid $c-text;
        .spotifyLink-play {
            padding-left: 24px;
        }
    }
}

.spotifyLink-play {
    background-image: url(/images/play.svg);
    background-repeat: no-repeat;
    background-position: left top 1px;
    display: inline-block;
    padding-left: 34px;
    transition: all 0.2s ease;
}

.spotifyLink-link {
    @include font-small;
    margin: 0 auto;
    text-transform: none;
    text-align: center;
    margin-bottom: 1.1em;
}
